ul#relic-fashion-store-img-container img {
    width: 50px;
}
.customize-control #relic-fashion-store-img-container li {
    float: left;
}

.customize-control #relic-fashion-store-img-container li label {
    margin-left: 5px;
}

.customize-control-radio .relic-fashion-store-radio-img-img {
    border: 3px solid #ff3030;
    margin: 0 5px 5px 0;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.customize-control-radio .relic-fashion-store-radio-img-selected {
    border: 3px solid #ff3030;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.radio-input-hidden{
    display: none;
}
.display-inline{
    display: inline;
}